/venv/Lib/site-packages/
/Classes/gibberish.py
/venv/Lib/site-packages/
/Classes/gibberish.py
/Classes/notevengibberish.py
/Classes/number3.py
*.pyc
/Classes/_data/
*NameLinks*
*.log
/Classes/data/NamesDE.json
/Classes/data/NamesEN.json