<!DOCTYPE html>
<html>
  <head>
    <script language="javascript" type="text/javascript">
    function copy_to_clipboard(id)
    {
        document.getElementById('Wikicode').select();
        document.execCommand('copy');
        alert("Wikicode was copied to clipboard");
    }
    </script>
    <title>wiki-tennis - supporting WikiProjects:Tennis all over Wikipedia</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/magnustools/resources/html/wikimedia.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
        <h1 class="logo">wiki-tennis</h1>
    </header>
    <nav>
      <ul class="nav nav-tabs" role="tablist">
        <!--Define naviagtion bar -->
        {% set navigation_bar = [
          ('playerworldranking', 'Player World Ranking'),
          ('playerwins', 'Player Tournament Wins'),
          ('tourneydraw',  'Tournament Draws'),
          ('misc',  'Misc'),
          ('about', 'About wiki-tennis')
          ]
        -%}
        {% set active_page = active_page|default('about') -%}
        <!--Build navigation and consider active or inactive class for the link -->
        {% for id, caption in navigation_bar %}
          <li class="nav-item">
            <a class="{{ 'nav-link active' if id == active_page else 'nav-link inactive' }}" data-toggle="tab" role="tab" href="{{ url_for(id) }}">{{ caption }}</a></li>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>