SPARQLWrapper
appdirs
beautifulsoup4
certifi
chardet
idna
isodate
itertools
flask
json
mypy-extensions
nameparser
num2words
os
pip
pycountries
pyparsing
qwikidata
rdflib
re
requests
six
soupsieve
urllib3
